.container{
    padding: 2%;
}
.container-80{
    background-color: #F6F8F9;
    padding: 5% ;
    margin: 5%;
    border: 1px solid black;
}
.text-vertical-logo,
#logo{
    vertical-align: middle;
}
.text-vertical-logo{
    font-size: 60px;
    font-weight: bolder;
}
.button-class{
    padding: 30px;
}
.button{
    border-radius: 6px;
    border: none;
    height: 30px;
    margin: 2px;
    font-weight: bold;
    width: 70px;   
    vertical-align: middle;
    

}
.button.blue{
    background-color: #4CADEF;
    color: #fff;
    
}
.button.grey{
    color: lightgray;

}
.green-check{
    color: green;
}
.circle-v{
    height: 20px;
    aspect-ratio: 1;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid green;
}
.toDo{
    display: inline;
}
.side-circle{
    display: inline-block;
    height: 25px;
    width: 80px;
    background-color: #4CADEF;
    border-radius: 10px;
    color: #fff;
    text-align: center;

}
.starting-card{
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 800;
}